.example {
  counter-increment: example-counter 1;
  background-color: rgb(39, 11, 117);
  color: white;
  border-radius: 5px;
}

.example::before {
  content: 'Example ' counter(theorem-counter) "." counter(example-counter) ":";
  display: block;
  font-weight: bold;
}

.sol {
  color: black;
  background-color: rgb(240, 232, 255);
  margin: calc(var(--pad) * -0.5); margin-top: var(--pad);
  border-radius: var(--brdrad);
}

.question {
  counter-increment: question-counter 1;
  background-color: rgb(255, 235, 218);
  border-width: var(--brdline) 0px 0px 0px;
  border-style: solid;
  border-color: rgb(230, 125, 40);
  border-radius: var(--brdrad);
}

.question::before {
  content: 'Question ' counter(question-counter) ":";
  display: block;
  font-weight: bold;
}

.answer {
  background-color: rgb(238, 255, 224);
  margin: calc(var(--pad) * -1); margin-top: var(--pad);
  border-width: 0px 3px 0px 3px;
  border-style: solid;
  border-color: rgb(27, 139, 45);
  border-radius: var(--brdrad);
}